<settings version="2">
    <setting id="alldebrid.username" default="true"></setting>
    <setting id="general.metalocation">1</setting>
    <setting id="premiumize.username" default="true"></setting>
    <setting id="tvshows.clearart">true</setting>
    <setting id="season.poster">true</setting>
    <setting id="general.bookmarkstyle" default="true">0</setting>
    <setting id="tmdb.apikey" default="true"></setting>
    <setting id="trakt.secret" default="true"></setting>
    <setting id="movies.preferedsource">1</setting>
    <setting id="trakt.revoketrakt" default="true"></setting>
    <setting id="alldebrid.hosters">true</setting>
    <setting id="movies.fanart_limit">1</setting>
    <setting id="general.fake" default="true"></setting>
    <setting id="general.textColor" default="true"></setting>
    <setting id="general.sizelimit.episode">10</setting>
    <setting id="movies.clearlogo">true</setting>
    <setting id="skin.updates" default="true"></setting>
    <setting id="general.265sort" default="true">false</setting>
    <setting id="item.limit">20</setting>
    <setting id="trakt.auth">5243493d0980aa9fdfea6237a48574cc044440b8a7bc881d49375edec1864772</setting>
    <setting id="nextup.sort" default="true">0</setting>
    <setting id="general.appendtitles">true</setting>
    <setting id="general.tempSilent" default="true">false</setting>
    <setting id="general.accountNotifications">true</setting>
    <setting id="rd.secret">f9415c532c4fe070f6ebdc4913e74f2556074aed</setting>
    <setting id="alldebrid.auth_start" default="true"></setting>
    <setting id="smartplay.playlistcreate">true</setting>
    <setting id="general.datedelay" default="true">false</setting>
    <setting id="premiumize.transcoded" default="true">false</setting>
    <setting id="general.cacheAssistMode" default="true">0</setting>
    <setting id="show.view.id" default="true">0</setting>
    <setting id="season.landscape">true</setting>
    <setting id="traktdb.force" default="true"></setting>
    <setting id="episode.fanart">true</setting>
    <setting id="general.playstyleEpisodes">1</setting>
    <setting id="rd.auth">SGSRQ2OKVBWPBQJII3SLCIRW7XXGIOEYQTU4QW4IKL3EL2I5VTDA</setting>
    <setting id="rd.hosters">true</setting>
    <setting id="general.sizesort">true</setting>
    <setting id="premiumize.token" default="true"></setting>
    <setting id="general.autocache">true</setting>
    <setting id="premiumize.enabled" default="true">false</setting>
    <setting id="alldebrid.token" default="true"></setting>
    <setting id="preem.type" default="true">0</setting>
    <setting id="general.timeout">60</setting>
    <setting id="movies.keyart_limit" default="true">0</setting>
    <setting id="tvshows.characterart_limit" default="true">0</setting>
    <setting id="movies.banner">true</setting>
    <setting id="general.disablelowQuality" default="true">false</setting>
    <setting id="skin.active" default="true">Seren Fox</setting>
    <setting id="tvdb.jw">eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzk1NTA3NDksImlkIjoiIiwib3JpZ19pYXQiOjE1Nzg5NDU5NDl9.fpvo0DG2oNXqNgC62cjdAQ0K9Yi-oQRbxM60OHGoTeQ34PIAg-lu-6VYo2CndF9zuFKh3xMSCQn5l9xAzb01qZTpAFTzgUwWx83q7bvghDWloAReCwdUQgtJkRWPL9rcwFYVlmQr8uvqySg0GrVrqCuB73BtjTw62ZeIHyJWsu55esUkU5KczCgdN-M5Nk2o-8pYNGEuR8BxegUZcNZMnzOY2-VHJo6BRZlEtUFbpk6vhz5iVpIXszh_DbNXSD4Ao6jOxBM1_lVWcRE1TJpoNE2UM5PxEcFDdeB8f7O_ghFrZMt4hoFLnwSlbgeqdv5eUbw6Dl378xq9VNPL8RkQCA</setting>
    <setting id="alldebrid.priority">10</setting>
    <setting id="trakt.username">Jmo335</setting>
    <setting id="premiumize.threshold">750</setting>
    <setting id="tvshows.poster_limit">1</setting>
    <setting id="provider.updateCheckTimeStamp">1578945951.33</setting>
    <setting id="alldebrid.enabled" default="true">false</setting>
    <setting id="tvdb.expiry">1579032349.33</setting>
    <setting id="smartplay.stillwatching" default="true">false</setting>
    <setting id="rd.priority">10</setting>
    <setting id="general.rdexpirycheck" default="true"></setting>
    <setting id="smartplay.playingnextdialog">true</setting>
    <setting id="general.enablesizelimit">true</setting>
    <setting id="searchHistory" default="true">false</setting>
    <setting id="trakt.clientid" default="true"></setting>
    <setting id="rd.auth_start" default="true"></setting>
    <setting id="episode.view" default="true">0</setting>
    <setting id="preem.movieres" default="true">0</setting>
    <setting id="premiumize.addToCloud" default="true">false</setting>
    <setting id="trakt.refresh">f56e177a5d51bdbdc54b22b4d2bfe4a35a0955443be61ec9606e992b070ca71c</setting>
    <setting id="advanced.apikeys" default="true">false</setting>
    <setting id="traktdb.clearmeta" default="true"></setting>
    <setting id="season.fanart">true</setting>
    <setting id="tvshows.preferedsource">1</setting>
    <setting id="smartPlay.preScrape">true</setting>
    <setting id="season.banner">true</setting>
    <setting id="movies.clearart">true</setting>
    <setting id="general.torrentCache">true</setting>
    <setting id="general.paginatetraktlists" default="true">false</setting>
    <setting id="tv.artwork.advanced" default="true">false</setting>
    <setting id="general.disable265" default="true">false</setting>
    <setting id="stillwatching.numepisodes">3</setting>
    <setting id="general.displayColor" default="true">None</setting>
    <setting id="movies.characterart_limit" default="true">0</setting>
    <setting id="general.pmexpirycheck" default="true"></setting>
    <setting id="premiumize.priority">10</setting>
    <setting id="alldebrid.torrents">true</setting>
    <setting id="movie.view.id" default="true">0</setting>
    <setting id="premiumize.torrents">true</setting>
    <setting id="preem.enabled">true</setting>
    <setting id="rd.cloudInspection">true</setting>
    <setting id="providers.checkupdates" default="true"></setting>
    <setting id="general.lowQualitysort" default="true">false</setting>
    <setting id="skin.updateAutomatic">true</setting>
    <setting id="episode.view.id" default="true">0</setting>
    <setting id="general.viewidswitch" default="true">false</setting>
    <setting id="cache.clearsearch" default="true"></setting>
    <setting id="season.view.id" default="true">0</setting>
    <setting id="general.setViews" default="true">false</setting>
    <setting id="cache.cleartorrent" default="true"></setting>
    <setting id="general.hideUnAired">false</setting>
    <setting id="premiumize.auth" default="true"></setting>
    <setting id="general.maxResolution" default="true">0</setting>
    <setting id="realdebrid.enabled">true</setting>
    <setting id="general.textColorSelect" default="true"></setting>
    <setting id="general.hidesd" default="true">false</setting>
    <setting id="skin.install" default="true"></setting>
    <setting id="rd.refresh">IT4A467WE5YSI7PGDLTPA7GC5DG4ASZTQDCOMKSY6JXPULELXKSQ</setting>
    <setting id="general.hideSpecials" default="true">false</setting>
    <setting id="playingnext.defaultaction" default="true">0</setting>
    <setting id="season.view" default="true">0</setting>
    <setting id="general.sizelimit.movie">10</setting>
    <setting id="movies.poster_limit">1</setting>
    <setting id="providers.autoupdates">true</setting>
    <setting id="smartplay.displaystyle" default="true">0</setting>
    <setting id="show.view" default="true">0</setting>
    <setting id="general.sortsources" default="true">0</setting>
    <setting id="traktdb.flush" default="true"></setting>
    <setting id="providers.manage" default="true"></setting>
    <setting id="preem.limit">20</setting>
    <setting id="trakt.scrobbling">true</setting>
    <setting id="tvdb.apikey" default="true"></setting>
    <setting id="skin.switch" default="true"></setting>
    <setting id="movie.view" default="true">0</setting>
    <setting id="addon.view" default="true">0</setting>
    <setting id="smartplay.clickresume" default="true">false</setting>
    <setting id="preem.cloudfiles">true</setting>
    <setting id="movies.discart">true</setting>
    <setting id="addon.updateCheckTimeStamp" default="true"></setting>
    <setting id="general.playstyleMovie">1</setting>
    <setting id="general.autotrynext">true</setting>
    <setting id="general.scrapedisplay" default="true">0</setting>
    <setting id="rd.expiry">1578954838.7</setting>
    <setting id="traktdb.rebuild" default="true"></setting>
    <setting id="playingnext.time">30</setting>
    <setting id="fanart.apikey" default="true"></setting>
    <setting id="premiumize.hosters">true</setting>
    <setting id="skin.uninstall" default="true"></setting>
    <setting id="general.menucaching">true</setting>
    <setting id="preem.tvres">1</setting>
    <setting id="premiumize.cloudInspection">true</setting>
    <setting id="tvshows.keyart_limit" default="true">0</setting>
    <setting id="trakt.authtrakt" default="true"></setting>
    <setting id="addon.view.id" default="true">0</setting>
    <setting id="cache.wipeaddon" default="true"></setting>
    <setting id="general.cachelocation">1</setting>
    <setting id="cache.clear" default="true"></setting>
    <setting id="premiumize.autodelete">true</setting>
    <setting id="general.flatten.episodes" default="true">false</setting>
    <setting id="tvshows.fanart_limit">1</setting>
    <setting id="general.checkAddonUpdates">true</setting>
    <setting id="migration.attempted" default="true">false</setting>
    <setting id="rd.username">Jmo335</setting>
    <setting id="tvshows.clearlogo">true</setting>
    <setting id="rd.torrents">true</setting>
    <setting id="movie.artwork.advanced" default="true">false</setting>
    <setting id="tvshows.banner">true</setting>
    <setting id="general.disable3d">true</setting>
    <setting id="rd.autodelete">true</setting>
    <setting id="rd.client_id">MBLZXTTZKKS4O</setting>
    <setting id="movies.landscape">true</setting>
    <setting id="tvshows.landscape">true</setting>
    <setting id="general.sourceselectlines">true</setting>
</settings>
